@font-face {
    font-family: "cairo";
    src: url('../fonts/Cairo/Cairo-Light.ttf') ;
}

@font-face {
    font-family: "roboto";
    src: url('../fonts/Roboto/Roboto-Thin.ttf') ;
}

body {
    padding: 10px;
    width:325px;
    height: 350px;
}

.main-icon {
    color: rgb(100, 189, 99);
    font-size: 13pt;
    display: flex;
}

.header-text {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 22pt;
    font-family: 'roboto';
}

.small-icon {
    color: rgb(100, 189, 99);
    flex-grow: 1;
    margin-right: 10px;
    font-size: 14pt;
}

.prayer-text {
    flex-grow: 2;
    text-align: end;
    margin-left: 10px;
    font-size: 18pt;
    font-family: 'cairo';
}

.app-entry {
    margin-left: 0 !important;
    direction: rtl;
}

.line {
    margin: 0px -30px 10px -30px;
    border: 1px solid #ECEFF1;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 100%;
    justify-content: center;
}

.content {
    align-content: baseline;
    display: flex;
    flex-direction: column;
    margin: 30px 0;
}

.header {
    margin: 10px 0;
}

.notifications {
    display: flex;
    margin: 10px 0;
    justify-content: space-between;
    align-items: end;
}

.notifications-label {
    font-size: 12pt;
    font-family: 'roboto';
    font-weight: bold;
    margin-left: 10px;
}

.notifications-control {
    margin-right: 10px;
}