<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <link href="styles/main.css" rel="stylesheet">
    <link href="styles\ramadan\flaticon.css" rel="stylesheet">
    <!-- bower:css -->
    <link href="styles/angular-ui-switch.css" rel="stylesheet">
    <!-- endbower -->
    <script src="scripts/AlManarProvider.js"></script>
    <script src="scripts/DataService.js"></script>
    <script src="scripts/DateTime.js"></script>
    <script src="scripts/I18nService.js"></script>
    <!-- bower:js -->
    <script src="scripts/angular.js"></script>
    <script src="scripts/angular-ui-switch.js"></script>
    <script src="scripts/jquery.js"></script>
    <script src="scripts/moment.js"></script>
    <!-- endbower -->
    <script src="scripts/app.js"></script>
    <script src="scripts/PopUp.Controller.js"></script>
    <script src="scripts/Data.Service.js"></script>
</head>

<body ng-app="bptimes" id="main">
    <div class="container">
        <div class="" ng-controller="popup">
            <div class="row header">
                <i class="flaticon-small-mosque flaticon-lg main-icon"></i>
                <h3 class="header-text">{{header}}</h3>
            </div>
            <hr class="line" />
            <div class="content">
                <div class="row app-entry">
                    <span class="small-icon">
                        <i class="flaticon-md flaticon-subah-prayer"></i>
                    </span>
                    <span class="prayer-text">{{ fajr.key }}</span>
                    <span class="prayer-text">{{ fajr.value }}</span>
                </div>
                <div class="row app-entry">
                    <span class="small-icon">
                        <i class="flaticon-md flaticon-ramadan-sunrise"></i>
                    </span>
                    <span class="prayer-text">{{ shrouk.key }}</span>
                    <span class="prayer-text">{{ shrouk.value }}</span>
                </div>
                <div class="row app-entry">
                    <span class="small-icon">
                        <i class="flaticon-md flaticon-zuhar-prayer"></i>
                    </span>
                    <span class="prayer-text">{{ dhor.key }}</span>
                    <span class="prayer-text">{{ dhor.value }}</span>
                </div>
                <div class="row app-entry">
                    <span class="small-icon">
                        <i class="flaticon-md flaticon-maghrib-prayer"></i>
                    </span>
                    <span class="prayer-text">{{ maghreb.key }}</span>
                    <span class="prayer-text">{{ maghreb.value }}</span>
                </div>
            </div>

            <div class="notifications">
                <label for="notifications" class="notifications-label">{{notifications}}</label>
                <span class="notifications-control">
                    <switch id="notifications" class="green" name="enabled" ng-model="notify" ng-change="notifyChange()"></switch>
                </span>
            </div>
        </div>
    </div>
</body>

</html>